<% content_for :head do %>
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">
  function initialize_maps(selector_id, airport_name, lat,longt) {
    var latlng = new google.maps.LatLng(lat,longt);
    var myOptions = {
      zoom: 2,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      panControl: false,
      zoomControl: true,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL
      },

      mapTypeControl: false,
      scaleControl: false,
      streetViewControl: false,
      overviewMapControl: false
    };
    var map = new google.maps.Map(document.getElementById(selector_id),
        myOptions);
    var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        animation: google.maps.Animation.DROP,
        title: airport_name
  });   
  }

  $(function(){
    //initialize_maps('from_airport_map','<%= @from_airport.name %>' , <%= @from_airport.latitude %>, <%= @from_airport.longitude %>);
    initialize_maps('to_airport_map','<%= @to_airport.name %>' , <%= @to_airport.latitude %>, <%= @to_airport.longitude %>);
  })

</script>

<style type="text/css">
#bg-map {
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:470px;
  z-index:-1;
  background:url(http://maps.google.com/maps/api/staticmap?zoom=1&size=640x640&sensor=false&style=feature:all|element:all|visibility:off&style=feature:water|element:geometry|visibility:on|lightness:100&style=feature:landscape|element:geometry|visibility:on|hue:0x0000ff&path=color:0xff000020|weight:5|<%=latlng_interp(@from_airport, @to_airport, 10)%>) no-repeat 0px -110px;
}

#content {
  position: relative;
	background: none;
}
</style>

<% end %>
  <div id="bg-map"></div>
  <!-- <div id="bg-map-fader"></div> -->

  <div class="city">
    <div class="info">
      <h3>Leaving from</h3>
      <h2>
        <span><%= @from_airport.code %></span><br /> 
        <%= @from_airport.name %>
      </h2>
    </div>
  </div>
  <br class="clear"/>
  <div class="city">
    <div class="info">
      <h3>Travelling to</h3>
      <h2>
        <span><%= @to_airport.code %></span><br />
        <%= @to_airport.name %>
      </h2>
      <div class="data">
        <div>
          <span>Currency:</span> 
          1 <%= @from_currency.code %> = 
            <%= @exchange.format %> 
            <%= @exchange.currency %>
        </div>
        <div class="grey">
          <span>Time Zone:</span> 
          <%= l @local_time_at_destination, :format => :short %>
        </div>
        <div>
          <span>Carbon Footprint:</span>
          <%= @brighter_planet_service.emission.to_i %> kg 
        </div>
      </div>
    </div>
  </div>
  
  <br class="clear"/>
  
  <div id="weather">
    <div class="info">
      <h3>Weather in <%= @to_airport.city.split(/(\W)/).map(&:capitalize).join %></h3>
    </div>
  <% for day in @weather_days %>
    <div class="day">
      <h4><%= day[:date] %></h4>
      <div class="pic" style="background: url('<%= day[:icon_url] %>') no-repeat center;">
      <%= day[:temp_min_celcius] %> &deg;
      <span><%= day[:temp_max_celcius] %> &deg;</span>
      </div>
      <h5><%= day[:description] %></h5>
    </div>
  <% end %>
  </div>

<!--  <div class="map">-->
<!--    <div id="to_airport_map" style="width:312px; height:256px;"></div>-->
<!--  </div>-->

<!--  <div class="map">-->
<!--    <div id="from_airport_map" style="width:312px; height:256px;"></div>-->
<!--  </div>-->
